/* google font link import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common CSS */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Reusable CSS */
.container {
    width: 1160px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
}

h2 {
    font-size: 45px;
}

.half-section {
    width: 50%;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ----------------------
   Header area design
---------------------- */

/* Navigation bar design */
header {
    background-color: #2D25A0;
    height: 100vh;
}

header nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

nav .navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
}

.navbar-part-one ul {
    padding: 0;
}

.navbar-part-one ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.navbar-part-one ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar-toggler {
    display: none;
}

.fa-bars {
    color: #fff;
    font-size: 22px;
}

.navbar-part-two ul li {
    list-style: none;
}

.link-button {
    text-decoration: none;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 22px;
}

.link-button:hover {
    background: linear-gradient(270deg, #b1104b, #9b3f61);
}

.plt-5 {
    padding: 0 5px;
}

/* Hero area design */
.hero-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4em);
}

.hero-banner img {
    width: 90%;
}

.hero-area .container {
    height: 100%;
}

/* Players area design */
.players {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.player {
    padding: 15px;
    box-shadow: 1px 1px 45px #0000002a;
    border-radius: 4px;
}

.player img {
    width: 100%;
}

.player h3 {
    font-size: 22px;
}

/* Highlights area design */
.highlights-area {
    margin: 150px auto;
}

.highlights-part-one p {
    margin-bottom: 45px;
    padding-right: 50px;
}

.highlights-part-two img {
    width: 100%;
    margin-top: 35px;
}

/* News area design */
.recent-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 150px auto;
}

.news {
    padding: 20px 15px;
    box-shadow: 1px 1px 45px #0000002a;
    border-radius: 4px;
}

.news img {
    height: 200px;
    width: 100%;
}

.news a {
    text-decoration: none;
    color: #f3085e;
    font-weight: 900;
    font-size: 14px;
}

/* Footer Design */
footer {
    text-align: center;
}

footer img {
    width: 30%;
}

footer ul {
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin: 30px 10px;
}

footer ul li a {
    height: 32px;
    width: 32px;
    background-color: rgba(128, 128, 128, 0.171);
    padding: 10px 15px;
    border-radius: 100px;
}

footer ul li i {
    color: #969BAB;
}